In [12]:
!pip install streamlit==1.14.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit==1.14.0 in /usr/local/lib/python3.8/dist-packages (1.14.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (7.1.2)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (1.5)
Requirement already satisfied: watchdog in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (2.2.0)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (9.0.0)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (5.2.0)
Requirement already satisfied: toml in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (0.10.2)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (0.20.0)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (6.0.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (2.8.2)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (3.19.6)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (0.8.0)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (1.3.5)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (1.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (1.21.6)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (7.1.2)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (5.1.0)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (3.1.29)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (4.2.0)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (12.6.0)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (21.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (4.4.0)
Requirement already satisfied: semver in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (2.13.0)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (2.23.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.8/dist-packages (from streamlit==1.14.0) (1.0.1)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit==1.14.0) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit==1.14.0) (0.12.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit==1.14.0) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit==1.14.0) (2.11.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from gitpython!=3.1.19->streamlit==1.14.0) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit==1.14.0) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=1.4->streamlit==1.14.0) (3.11.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.14.0) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.14.0) (5.10.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.14.0) (22.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=14.1->streamlit==1.14.0) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21.0->streamlit==1.14.0) (2022.6)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->altair>=3.2.0->streamlit==1.14.0) (2.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil->streamlit==1.14.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit==1.14.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit==1.14.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit==1.14.0) (2022.12.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit==1.14.0) (1.24.3)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from rich>=10.11.0->streamlit==1.14.0) (0.9.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /usr/local/lib/python3.8/dist-packages (from rich>=10.11.0->streamlit==1.14.0) (2.6.1)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from validators>=0.2->streamlit==1.14.0) (4.4.2)

In [13]:
!pip install baseline

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: baseline in /usr/local/lib/python3.8/dist-packages (1.2.1)
Requirement already satisfied: setuptools>=39.0.1 in /usr/local/lib/python3.8/dist-packages (from baseline) (57.4.0)

In [14]:
import streamlit as st
import pandas as pd
import altair as alt

In [15]:
pd.read_csv('Car_Prices_Poland.csv')

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...
145,peugeot,206,NaN,2003,195250,1360,Gasoline,Widok,Mazowieckie,5999
146,peugeot,206,NaN,2005,172300,1360,Gasoline,Grudziądz,Kujawsko-pomorskie,7999
147,peugeot,206,NaN,2005,150000,1360,Gasoline,Poręba,Śląskie,7800
148,peugeot,206,NaN,1999,91000,1360,Gasoline,Opole,Opolskie,2200
149,peugeot,206,NaN,2003,186000,1360,Gasoline,Słupca,Wielkopolskie,4700

In [113]:
car = pd.read_csv('Car_Prices_Poland.csv')
car

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...
145,peugeot,206,NaN,2003,195250,1360,Gasoline,Widok,Mazowieckie,5999
146,peugeot,206,NaN,2005,172300,1360,Gasoline,Grudziądz,Kujawsko-pomorskie,7999
147,peugeot,206,NaN,2005,150000,1360,Gasoline,Poręba,Śląskie,7800
148,peugeot,206,NaN,1999,91000,1360,Gasoline,Opole,Opolskie,2200
149,peugeot,206,NaN,2003,186000,1360,Gasoline,Słupca,Wielkopolskie,4700

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mark             150 non-null    object
 1   model            150 non-null    object
 2   generation_name  122 non-null    object
 3   year             150 non-null    int64
 4   mileage          150 non-null    int64
 5   vol_engine       150 non-null    int64
 6   fuel             150 non-null    object
 7   city             150 non-null    object
 8   province         150 non-null    object
 9   price            150 non-null    int64
dtypes: int64(4), object(6)
memory usage: 11.8+ KB

In [18]:
st.title('Car Prices Poland')
carname = st.selectbox("Select your car",car['mark'].unique())
st.write(carname)

In [121]:
%%writefile home.py


import streamlit as st

st.title('Car Prices Poland :car:')

# Display the background information
st.markdown(
    '<h1 style="color: maroon; font-size: 20px;">Background of the Dataset</h1>',
    unsafe_allow_html=True
)
st.header(
    'The dataset contains information about the make, model, generation, year of production, mileage, engine type and volume, localization and price'
)

Writing home.py

In [ ]:
!streamlit run home.py &>/dev/null&
!npx localtunnel --port 8501

npx: installed 22 in 2.68s
your url is: https://weak-hats-start-34-71-207-143.loca.lt

In [98]:
%%writefile p1.py
import streamlit as st
import pandas as pd
import altair as alt
from IPython.display import Markdown
import baseline as base
import matplotlib.pyplot as plt
import seaborn as sns

st.title('Car Prices in Poland 🚗')
st.markdown(
    '<h1 style="color: maroon; font-size: 20px;">welcome to page 1</h1>',
    unsafe_allow_html=True
)


car = pd.read_csv('Car_Prices_Poland.csv')
carname = st.selectbox("Select your car",car['mark'].unique())
st.write(carname)
plot_type=st.radio("select the plot type",['scatter','line','bar','slope','Natural Disasters','Donut Chart'])
if plot_type == 'scatter':
  pl = alt.Chart(car[car['mark']==carname]).mark_circle().encode(
    x = 'vol_engine',
    y ='price',
    tooltip = ['vol_engine','price']
).interactive()
elif plot_type == 'line':
  pl = alt.Chart(car[car['mark']==carname]).mark_line().encode(
    x = 'vol_engine',
    y ='price',
    color = 'fuel',
    tooltip = ['vol_engine','price']
).interactive()
elif plot_type == 'bar':
   pl = alt.Chart(car[car['mark']==carname]).mark_bar(opacity=0.7).encode(
    x='year:O',
    y=alt.Y('price:Q', stack=None),
    color="city",
).interactive()
elif plot_type == 'slope':
   pl = alt.Chart(car).mark_line().encode(
    x='year:O',
    y='mark',
    color='city'
).interactive()
elif plot_type == 'Natural Disasters':
  pl = alt.Chart(car[car['mark']==carname]).mark_circle(
    opacity=0.8,
    stroke='black',
    strokeWidth=1
).encode(
    alt.X('price:O', axis=alt.Axis(labelAngle=0)),
    alt.Y('city:N'),
    alt.Size('mileage:Q',
        scale=alt.Scale(range=[0, 4000]),
        legend=alt.Legend(title='Car Prices Poland')
    ),
    alt.Color('city:N', legend=None)
).properties(
    width=450,
    height=320
).transform_filter(
    alt.datum.Entity != 'All natural disasters'
).interactive()
else:
 pl = alt.Chart(car[car['mark']==carname]).mark_arc(innerRadius=50).encode(
    theta=alt.Theta(field="year", type="quantitative"),
    color=alt.Color(field="city", type="nominal"),
).interactive()

st.altair_chart(pl)

Writing p1.py

In [99]:
!streamlit run p1.py &>/dev/null&
!npx localtunnel --port 8501

npx: installed 22 in 2.945s
your url is: https://true-results-pick-34-71-207-143.loca.lt
^C

In [102]:
%%writefile p2.py
import streamlit as st
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.font_manager import FontProperties

st.title('Car Prices in Poland 🚗')
st.markdown(
    '<h1 style="color: maroon; font-size: 20px;">welcome to page 2</h1>',
    unsafe_allow_html=True
)
car = pd.read_csv('Car_Prices_Poland.csv')
fig, ax = plt.subplots()
ax.bar(car['year'], car['mileage'])
font = FontProperties(fname='pages/NotoEmoji-Regular.ttf')
plt.text(2015, 500, '🚗', fontproperties=font,color='red',fontsize=50)
st.pyplot(fig)

Writing p2.py

In [103]:
!streamlit run p2.py &>/dev/null&
!npx localtunnel --port 8501

npx: installed 22 in 5.084s
your url is: https://kind-rabbits-grab-34-71-207-143.loca.lt
^C

In [119]:
%%writefile p3.py
import streamlit as st
import matplotlib.pyplot as plt
import pandas as pd

# Load the data
data = pd.read_csv('Car_Prices_Poland.csv')

# Create a figure object
fig = plt.figure()

st.title('Car Prices in Poland 🚗')
st.markdown(
    '<h1 style="color: #000080; font-size: 20px;">Select this option to show only Hybrid cars in the chart</h1>',
    unsafe_allow_html=True
)
# Add a plot to the figure
plt.plot(data['year'], data['price'])

# Create a check box
checkbox = st.checkbox('Show Only Hybrid Cars')

# Define a function to filter the data based on the check box value
def filter_data():
    if checkbox:
        # Show only electric cars
        data_filtered = data[data['fuel'] == 'Hybrid']
    else:
        # Show all cars
        data_filtered = data
    
    # Update the plot with the filtered data
    plt.cla()
    plt.plot(data_filtered['year'], data_filtered['price'])
    

# Call the function to filter and update the plot when the check box value changes
if checkbox:
    filter_data()

# Display the plot
st.pyplot(fig)

Writing p3.py

In [120]:
!streamlit run p3.py &>/dev/null&
!npx localtunnel --port 8501

npx: installed 22 in 2.752s
your url is: https://tender-guests-carry-34-71-207-143.loca.lt
^C

In [27]:
%env GITHUB_USERNAME=applied-science-2022
%env GITHUB_PASSWORD=H@a21289488

env: GITHUB_USERNAME=applied-science-2022
env: GITHUB_PASSWORD=H@a21289488

In [28]:
import os

username = os.environ['GITHUB_USERNAME']
password = os.environ['GITHUB_PASSWORD']